<!--
<form action="/users" method="post" accept-charset="UTF-8">
	Username: <input type="text" name="user[username]"><br>
	Email: <input type="email" name="user[email]"><br>
	Password: <input type="password" name="user[password]"><br>
	<input type="submit" value="Submit">
	
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>
-->

<!--
<%= form_tag '/users' do %>
  <%= label_tag 'Username'%>
  <%= text_field_tag 'username'%>
  <br>
  <%= label_tag 'Email'%>
  <%= email_field_tag 'email' %>
  <br>
  <%= label_tag 'Password'%>
  <%= password_field_tag 'password'%>
  <br>
  <%= submit_tag 'submit it!'%>
<% end %>
-->

<%= form_for @user do |f| %>
	<%= f.label :username %>
 	<%= f.text_field(:username, value: 'Enter your name') %>
 	<br>
 	<%= f.label :email %>
 	<%= f.email_field(:email, value: 'example@example.com') %>
 	<br>
 	<%= f.label :password %>
 	<%= f.password_field :password %>
 	<br>
 	<%= f.submit %>
<% end %>